<div>
  <div class="container my-5 py-4" style="background-color:#dbdbdb;">
    <div class="jumbotron">
      <h3 class="lead"> <%= comment.comment_text %></h3>
      <hr class="my-4">
      <p>By : <strong><%= comment.user.email %>:</strong></p>
      <p class="lead">
        <%  if can? :delete, comment%>
      <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "btn-danger btn-lg mt-4 border-0 p-2 rounded-pill text-decoration-none center", data: { confirm: 'Are you sure?' } %>
    <%end%>
      </p>
    </div>
  </div>
</div>
