<strong>Attachments:</strong>
 <ul>
 <% @post.files.each do |file| %>
   <li>
     <%= link_to file.filename, rails_blob_path(file, disposition: :attachment) %>
     <%= link_to 'Remove', delete_file_post_url(file.id), data: { turbo_method: :delete }, style: "color:red; text-decoration:none" %>
   </li>
 <% end %>
 </ul>