<p style="color: green"><%= notice %></p>

<div class="grid-container">
  <div id="posts">
    <% @posts.each do |post| %>
      <div class="card" style="width: 15rem;">
        <div class="card-body text-center">
          <%= image_tag post.header_image.url,alt: "Image not available" %>
          <h5 class="card-title mt-4"><%= link_to post.title, post_path(post), class:"text-dark text-decoration-none"%></h5>
        </div>
      </div>
    </div>
  <% end %>
</div>


